@using BlazorSSR.Store.StageUseCase
@inherits BaseComponent
@inject IState<StageState> StageState


<div class="splash-screen">
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

@code{

}