@inherits BaseComponent

<h1>Country Selector</h1>

<div class="mb-3">

    <div class="list-group">
        @foreach (var country in Countries)
        {
            <button type="button"
                    class="list-group-item list-group-item-action @(country.Code == SelectedValue ? "active" : "")"
                    @onclick="@(() => ItemSelected(country))">
                @country.Name
            </button>
        }
    </div>
</div>

<div class="mb-3">
    <button class="btn btn-primary" @onclick="BackButtonClicked">Back</button>
</div>


@code
{
    [Parameter]
    public string SelectedValue { get; set; }

    private void BackButtonClicked()
    {
        Dispatcher.Dispatch(new BackStageAction { });
    }

    private void ItemSelected(Country country)
    {
        SelectedValue = country.Code;
        Dispatcher.Dispatch(new SelectCountryAction(SelectedValue));
    }

    public static List<Country> Countries = new()
    {
        new Country("US", "US"),
        new Country("CA", "Canada"),
        new Country("VN", "Vietnam")
    };

    public record Country(string Code, string Name);
}