@page "/counter"
@inject IState<CounterState> CounterState

@using BlazorSSR.Store
@using Fluxor
@inherits BaseComponent

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @CounterState.Value.ClickCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();


        CounterState.StateChanged += CounterStateOnStateChanged;
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return base.OnAfterRenderAsync(firstRender);
    }

    private void CounterStateOnStateChanged(object? sender, EventArgs e) { }

    private void IncrementCount()
    {
        Dispatcher.Dispatch(new IncrementCounterAction { });
    }


}