@using Fluxor.Persist.Storage.Store
@inherits Fluxor.Persist.Storage.BaseComponent
@inject IState<HistoryStackState> StageState


<div class="splash-screen">
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

@code{

}